Repository senkenn/github-client: changes, and which lefthook commands are due for each by the changed paths.
All: biome, cspell, test

biome:
  run: 'pnpm biome check --write {staged_files} && git add {staged_files}
  
    '

cspell:
  run: '# check file name
  
    git diff --name-only --cached | pnpm cspell --no-progress --show-context stdin --cache
  
    '

test:
  run: 'pnpm test
  
    '

feat: update pre-commit test command to suppress color output and enhance test coverage with new markdown roundtrip tests
  lefthook.yaml
  src/routes/-functions/commentsAction.test.ts
  src/routes/-functions/commentsAction.ts
  src/routes/-functions/mdHtmlUtils.test.ts
  src/routes/-functions/mdHtmlUtils.ts
  src/routes/index.tsx
Due: biome, cspell, test

feat: update README to clarify issue editing capabilities and add image asset
  README.md
  img/image.png
Due: cspell

feat: enhance README to specify WYSIWYG editor for editing GitHub Issues
  README.md
Due: cspell

feat: add table support to CommentItem and enhance markdown utilities
  biome.jsonc
  package.json
  pnpm-lock.yaml
  src/routes/-components/CommentItem.tsx
  src/routes/-functions/mdHtmlUtils.test.ts
  src/routes/-functions/mdHtmlUtils.ts
  src/routes/index.tsx
  src/styles.css
Due: biome, cspell, test

feat: add custom table rules to TurndownService for markdown conversion
  src/routes/-functions/mdHtmlUtils.test.ts
  src/routes/-functions/mdHtmlUtils.ts
Due: biome, cspell, test

feat: enhance markdown handling for nested and mixed lists in htmlToMarkdown function
  src/routes/-functions/mdHtmlUtils.test.ts
  src/routes/-functions/mdHtmlUtils.ts
Due: biome, cspell, test

Refactor code structure for improved readability and maintainability
  package.json
  pnpm-lock.yaml
Due: cspell

feat: add context menu and menu bar for table editing in CommentItem component
  .gitignore
  src/routes/-components/CommentItem.tsx
  src/routes/-components/MenuBar.tsx
Due: biome, cspell, test

feat: implement MenuBar component for enhanced table editing functionality
  cspell.yaml
  src/routes/-components/Tiptap/MenuBar.tsx
Due: biome, cspell, test

feat: Implement GitHub Issues Viewer with Issue and Comment Management
  biome.jsonc
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/components/IssueDetail.tsx
  src/components/IssuesList.tsx
  src/components/TiptapEditor.tsx
  src/lib/github.ts
  src/main.tsx
  src/routeTree.gen.ts
  src/routes/__root.tsx
  src/routes/index.tsx
  src/routes/issues.$issueNumber.tsx
  src/routes/issues.tsx
  src/styles.css
  src/types/github.ts
  tsconfig.app.json
  tsconfig.node.json
Due: biome, cspell, test

feat: add .cspellcache to .gitignore for spellcheck exclusion
  .gitignore
Due: cspell

feat: add GitHub Actions workflow to automatically add Copilot as a reviewer on pull requests
  .github/workflows/copilot-review.yaml
Due: cspell

fix: update navigation title from 'GitHub Issues' to 'GitHub Client'
  src/routes/__root.tsx
Due: biome, cspell, test

fix: ensure actions/checkout step is included in Copilot reviewer workflow
  .github/workflows/copilot-review.yaml
Due: cspell

feat: add code review ruleset and remove obsolete Copilot reviewer workflow
  .github/rulesets/code-review.json
  .github/workflows/copilot-review.yaml
Due: biome, cspell

fix: update code review ruleset to include only the default branch and require two approving reviews
  .github/rulesets/code-review.json
Due: biome, cspell

feat: add copilot instructions for unit and E2E testing
  .github/copilot-instructions.md
  .gitignore
Due: cspell

Apply suggestion from @Copilot
  src/lib/dateUtils.ts
Due: biome, cspell, test

fix: correct import and update test exclusions in vite.config.ts
  cspell.yaml
  vite.config.ts
Due: biome, cspell, test

refactor: remove outdated dateUtils tests
  src/lib/dateUtils.spec.tsx
Due: biome, cspell, test

Update issue templates
  .github/ISSUE_TEMPLATE/general-issue-template.md
Due: cspell

Apply suggestion from @Copilot
  .github/ISSUE_TEMPLATE/general-issue-template.md
Due: cspell

Remove copilot instructions and update code review rules for pull request approvals
  .github/copilot-instructions.md
  .github/rulesets/code-review.json
  .gitignore
Due: biome, cspell

feat: add Playwright component testing setup with mock server and visual snapshot testing
  package-lock.json
  package.json
  playwright-ct/index.html
  playwright-ct/index.ts
  playwright.config.ts
  playwright/index.html
  playwright/mock-server.ts
  playwright/output.css
  src/components/IssuesList.spec.tsx
  src/components/IssuesList.spec.tsx-snapshots/issues-list-chromium-linux.png
  src/components/IssuesList.tsx
  src/lib/github.ts
Due: biome, cspell, test

chore: remove unused Playwright output CSS file and update .gitignore
  .gitignore
  playwright/output.css
Due: biome, cspell

fix: standardize quotes in CI configuration and ensure Playwright test results are uploaded
  .github/workflows/ci.yml
Due: cspell

fix: change issue state filter from 'open' to 'all' in getIssues function
  src/components/IssuesList.spec.tsx-snapshots/issues-list-chromium-linux.png
  src/lib/github.ts
Due: biome, cspell, test

feat: enhance Playwright configuration with viewport and font settings; update visual snapshot test for IssuesList component
  playwright.config.ts
  src/components/IssuesList.spec.tsx
  src/components/IssuesList.spec.tsx-snapshots/issues-list-chromium-linux.png
Due: biome, cspell, test

feat: add screenshot comparison settings to Playwright configuration
  playwright.config.ts
Due: biome, cspell, test

fix: update CI configuration to use Ubuntu 24.04 and install system fonts for consistent rendering; adjust screenshot comparison threshold in Playwright config
  .github/workflows/ci.yml
  playwright.config.ts
Due: biome, cspell, test

fix: update Lefthook configuration to use npx for commands and adjust CommentItem component structure for better context menu handling
  lefthook.yaml
  src/routes/-components/CodeBlockComponent.tsx
  src/routes/-components/CommentItem.tsx
Due: biome, cspell, test

fix: update Node.js version in CI configuration from 18 to 24
  .github/workflows/ci.yml
Due: cspell

fix: update CI configuration to use latest Node.js and Ubuntu; streamline Playwright tests and adjust IssuesList visual snapshot test
  .github/workflows/ci.yml
  playwright.config.ts
  src/components/IssuesList.spec.tsx
  src/components/IssuesList.spec.tsx-snapshots/issues-list-chromium-linux.png
Due: biome, cspell, test

fix: initialize state with localStorage values in RouteComponent; update localStorage tests for improved clarity and coverage
  src/routes/index.tsx
  tests/localStorage.spec.ts
  vite.config.ts
Due: biome, cspell, test

fix: add E2E test step to CI workflow; update Playwright config to disable retries and improve test command consistency
  .github/workflows/ci.yml
  package.json
  playwright-ct.config.ts
  playwright.config.ts
Due: biome, cspell, test

fix: update localStorage tests to use fill method for simulating user input
  tests/localStorage.spec.ts
Due: biome, cspell, test

fix: clean up formatting in general issue template
  .github/ISSUE_TEMPLATE/general-issue-template.md
Due: cspell

Revert "Add comprehensive test coverage for pull request filtering"
  TEST_COVERAGE.md
  package-lock.json
  package.json
  playwright-ct.config.ts
  playwright/index.ts
  src/components/IssuesList.spec.tsx
  src/components/IssuesList.test.tsx
  src/lib/github.test.ts
  src/routes/-functions/commentsAction.test.ts
  src/routes/-functions/commentsAction.ts
  src/test-setup.ts
  vite.config.ts
Due: biome, cspell, test

feat: add project-specific coding guidelines and configuration files
  .github/copilot-instructions.md
  .gitignore
  .vscode/launch.json
  .vscode/project.md
  .vscode/settings.json
Due: biome, cspell

Path conditions:
  biome: any of: *.{js,ts,jsx,tsx,json,jsonc,css,scss}, but not: package.json
  cspell: any of: *
  test: any of: *.{js,ts,jsx,tsx}
