Repository senkenn/github-client: changes, and which lefthook commands are due for each by the changed paths.
All: biome, cspell, test, test-e2e

biome:
  run: 'npx biome check --write {staged_files} && git add {staged_files}
  
    '

cspell:
  run: '# check file name
  
    git diff --name-only --cached | npx cspell --no-progress --show-context stdin --cache
  
    '

test:
  run: 'NO_COLOR=1 npm test -- {staged_files}
  
    '

test-e2e:
  run: 'FORCE_COLOR=0 npm run test:e2e -- {staged_files}
  
    '

feat: add image upload functionality with Playwright tests
  .github/copilot-instructions.md
  .gitignore
  package-lock.json
  package.json
  playwright.config.ts
  src/lib/tiptapEditor.test.ts
  tests/imageUpload.spec.ts
Due: biome, cspell, test

feat: add repository guidelines and project structure documentation
  AGENTS.md
Due: cspell

feat: update TipTap editor image handling and add GitHub attachment utilities
  package-lock.json
  package.json
  src/components/TiptapEditor.tsx
  src/lib/github.ts
  src/lib/githubAttachmentUtils.test.ts
  src/lib/githubAttachmentUtils.ts
  src/lib/mdHtmlUtils.ts
  tests/imageUpload.spec.ts
Due: biome, cspell, test

feat: enhance image handling in Tiptap editor and preserve raw HTML in markdown conversion
  src/components/TiptapEditor.tsx
  src/lib/mdHtmlUtils.test.ts
  src/lib/mdHtmlUtils.ts
Due: biome, cspell, test

feat: implement GitHub attachment image handling and proxying in Tiptap editor
  README.md
  package-lock.json
  package.json
  src/components/GithubImageNodeView.tsx
  src/components/TiptapEditor.tsx
  src/lib/githubAttachmentUtils.ts
  tests/attachmentsRewrite.spec.ts
  vite.config.ts
Due: biome, cspell

Change image source to hosted URL
  README.md
Due: cspell

Delete img/image.png
  img/image.png
Due: cspell

Update README.md
  README.md
Due: cspell

Path conditions:
  biome: any of: *.{js,ts,jsx,tsx,json,jsonc,css,scss}, but not: package.json
  cspell: any of: *
  test: any of: src/**/*{spec,test}.{js,ts}
  test-e2e: any of: {{tests/*.{spec,test}.{js,ts},{tests/**/*.{spec,test}.{js,ts}}
